/* variables */
:root{
    --textCol: rgb(19, 19, 19);
    --bgCol: whitesmoke;
    --grey: rgb(30,30,30);
}

/* reset */
body, p, a, ul, li, h4{
    margin: 0;
    padding: 0;

    text-decoration: none;

    counter-reset: section;
}

li{
    list-style-type: none;
}

/* fonts */
@font-face {
    font-family: "Signifier";
    src: url('/fonts/signifier-web-thin.woff2');

}

h1, h2{
    font-family: Helvetica, sans-serif;

    font-size: 1rem;
    font-weight: 100;

    margin-bottom: 1rem;
    margin-top: 0rem;
}  

/* h2{
    letter-spacing: 0.1rem;

} */

h3{    
    margin-top: -1rem;
    margin-left: 1rem;
    margin-bottom: 0rem;

    font-family: Signifier;
    font-size: 1rem;
    font-weight: 100;    
}

ul{
    font-size: 1rem;
    color: var(--bgCol);
}

p {
    color: var(--bgCol);
    font-size: 1rem;
}

h1#work-title{
    display: flex;
    margin: 1rem;

    justify-content: center;

    font-size: 2rem;
}

/* base styles */
html{
    scroll-behavior: smooth;
}

body{
    background: var(--textCol);

    overflow-x: hidden;

    font-family: Signifier;
    font-size: 18px;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;


}

/* html::-webkit-scrollbar, .slide::-webkit-scrollbar, .dropdown::-webkit-scrollbar, .works-text::-webkit-scrollbar {
    display: none;
  }
   */
/* Hide scrollbar for IE, Edge and Firefox */
/* html, .slide, .dropdown, .works-text {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  } */

div#landing{
    height: 100vh;
    width: 100vw;

    margin-top: -3rem;

    transition: height 0.5s ease;
}

/* 
#chat-close{
    position: fixed;
    z-index: 3;

    left: 75vw;
    top: 14vh;

    margin: -2rem 0rem;
   
    background: transparent;
    box-shadow: 0px 0px 50px 30px rgb(106, 106, 106);

    transition: top 0.5s ease;
} */

.chat-container{
    position: fixed; 
    z-index: 2;

    max-height: 70vh;
    width: 80vw;

    top: 5vh;
    left: 10vw;

    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-self: center;
  
    color: var(--textCol);
    background: transparent;

    border-radius: 30rem;
    /* box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.3); */

    transition: top 600ms ease;
}

#output{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    /* word-break: break-word; */
    /* white-space:nowrap; */

    /* margin-top: -5rem; */
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    text-align: center;
    
    /* font-size: 2.5rem; */
    color: var(--bgCol);

    transition: content 0.5s ease, max-width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}

.letters{
    display: none;
    margin: 0.2rem 0rem;
    padding: 0.4rem;

    color: var(--bgCol);
    mix-blend-mode: difference;

    background: rgba(0, 0, 0, 0.2);
    opacity: 0;

    font-size: 2.5rem;

    box-shadow: 0px 0px 30px 20px rgba(106, 106, 106, 0.4);
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    border-radius: 30rem;

    /* transform: rotate(100deg);
    margin-top: 10rem; */
    transition: opacity 1s ease;
}

.words{
    z-index: 3;
    /* display: inline-block; */
    margin: 0rem 0.15rem;
    padding: 1rem;

    /* color: var(--bgCol); */
    /* background: rgba(2, 2, 2, 0.1); */

    /* box-shadow: 0px 0px 50px 30px rgb(106, 106, 106);
    border-radius: 30rem; */

    transition: width 0.5s ease, content 0.5s ease;
}

#user_input{
    position: fixed;
    z-index: 3;

    width: 50vw;

    /* top:75vh; */
    bottom: 10vh;
    padding: 1.5rem;

    background-color: rgba(0, 0, 0, 0.5);
    color: var(--bgCol);

    border-radius:10rem;
    box-shadow: inset 0px 0px 30px 20px rgba(106, 106, 106, 0.7);
    border: none;

    text-align: center;
    font-size: 1.3rem;

    word-break: normal;

    transition: bottom 500ms ease;
}

/* 
#input{
    bottom: 13vh;
    position: fixed;
    transition: bottom 500ms ease;

} */

#user_input:focus{
    outline: none;
}

.space{
    height: 5rem;
}

#header{    
    width: 60vw;
    height: auto;

    left: 20vw;
    z-index: 2;

    position: fixed; 
    grid-template-columns: 1fr;  

    display: grid;
    background: transparent;

    transition: height 600ms ease, top 800ms ease;
}

#logo{
    margin: 2.5rem auto;
    padding: 0.4rem 0.8rem;

    grid-column: 1/7;
    justify-content: center;
    z-index: 1;

    font-family: Signifier;
    font-size: 1rem;
    background: var(--bgCol);
    color: var(--textCol);    
    
    border-radius:10rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);;

    transition: font-size 0.2s ease, color 0.3s ease, background 0.3s ease;
}

#logo:hover{
    background: var(--textCol);
    color: var(--bgCol);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);;

    font-size: 1.3rem;
}

#i{
    position: fixed;

    right: 5vw;
    top: -0.6rem;

    margin: 2.5rem auto;
    padding: 0.6rem 1.3rem;

    /* grid-column: 1/7;
    justify-content: center; */
    z-index: 1;

    font-family: Signifier;
    font-weight: 500;
    font-size: 1.5rem;
    background: var(--textCol);
    color: var(--bgCol);    
    
    border-radius:10rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);;

    transition: font-size 0.2s ease, color 0.3s ease, background 0.3s ease;
}

#i:hover{
    background: var(--bgCol);
    color: var(--textCol);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);;

    font-size: 1.3rem;
}

#list{
    position: fixed;

    left: 5vw;
    top: -0.5rem;

    margin: 2.5rem auto;
    padding: 0.6rem 1.1rem;

    display: flex;    
    justify-content: center;
    align-items: center;

    z-index: 1;

    font-family: Signifier;
    font-weight: 500;
    font-size: 1.5rem;
    background: var(--textCol);
    color: var(--bgCol);    
    
    border-radius:10rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);;

    transition: font-size 0.2s ease, color 0.3s ease, background 0.3s ease, filter 0.2s ease;
}

#list:hover{
    /* background: var(--bgCol);
    color: var(--textCol); */
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);

    filter: invert(100%);

    font-size: 1.3rem;
}

.image-button{
    /* filter: invert(100%); */
    height: 25px;
}

#list-img, #rect-img{
    transition: display 0.5s ease;
}

.close-container {
    position: relative;

    max-width: 40%;
    max-height: auto;    

    grid-column: 4/5;

    border-radius: 10rem;

    margin: 0rem 2.3rem;
    margin-top: -1rem;
    padding: 0.7rem;

    transition: color 0.5s ease,invert 0.5s ease, background 0.5s ease, border 0.5s ease;
}

.close{
    width: 25px;
    height: 25px;

    transition: transform 0.4s ease;
}

.close-container:hover{
    filter: invert();
}

#dropdown-close{

    left: 23vw;
    top: -80vh;

    z-index: 2;

    background: var(--bgCol);
    color: var(--textCol);
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.3);

    transition: top 1s ease;
}

#dropdown-close:hover{
    box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.3);
}

.dropdown{
    position: fixed; 

    width: 80vw;
    height: 72vh;

    top: -80vh;
    left: 10vw;

    box-sizing: border-box;
    padding: 2rem 2rem;

    border-radius: 3rem;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.3);
  
    background: var(--bgCol);
    opacity: 1;

    font-family: Helvetica, sans-serif;
    font-weight: 100;

    transition: top 600ms ease;
}

.dropdown-container{
    height: 100%;
    overflow: scroll;
}

.dropdown > *{
    opacity: 1;
    margin-bottom: 3rem;

}

.dropdown-container > div{
    margin-bottom: 3rem;

}

.dropdown p{
    color: var(--textCol);
    opacity: 1;
    font-size: 1.5rem;
} 

.dropdown h1{
    font-weight: 400;
    font-variant: small-caps;

    color: var(--textCol);
}

.dropdown ul{
    font-size: 1.5rem;
    color: var(--textCol);
}

.dropdown li{
    margin: 0.7rem 0rem;
}

.contact {
    width: 100%;
}

main{
    width: 100vw;
    height: auto;
    
    /* margin-top: 3rem;  */
    transition: margin-top 600ms ease;
}

.slide{
    height: 90vh;
    width: 100vw;

    overflow-y: hidden;
    overflow-x: scroll;
    /* overflow: overlay; */
    
    box-shadow: 0px 0px 100px 1px rgb(0, 0, 0);
    filter:blur(1000px);    

    transition: filter 0.7s ease, height 0.7s ease;
}

.slide-content{
    display: inline-flex;
    height: 100%;

    overflow: hidden;
}

img {
    width: auto;
    height: 100%;
    overflow-y: hidden;
}

.link{
    font-family: Signifier;
    color: var(--bgCol);
    
}

/* mobile styles */

.round-box{
    border-radius: 10rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

    background: var(--textCol);
    color: var(--bgCol);

    padding: 1rem;

    transition: color 0.5s ease, background 0.5s ease, border 0.5s ease;
}

.round-box:hover{
    filter: invert();
}

.card{
    box-sizing: border-box;
    
    width: 100vw;
    height: 0rem;

    z-index: 1;
        
    /* margin: 0rem 2rem; */
    margin-top: -5.5rem;
    padding: 0rem 1rem;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    filter:blur(10px);    
    
    transition: max-height 600ms ease, opacity 600ms ease, margin-top 0.5s ease, filter 0.2s ease;
}

.works-title{   
    grid-column: 1/4;

    text-transform: uppercase;

    display: flex;
    align-items: flex-start;
    letter-spacing: 0.05rem;

}

.title{
    display: inline;
}

.plus-container {
    /* width: 50%;
    height: auto; */

    margin: 0rem;
    padding: 0rem;

    grid-column: 4/5;

    display: inline-flex;
    justify-content: flex-end;

    font-size: 3rem;
    font-family: Signifier;
    font-weight: thin;
}

.plus{
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    padding: 1rem;

    transition: transform 0.4s ease;
}

.card-dropdown{
    width: 100%;
    max-height: 0vh;
    
    box-sizing: border-box;

    margin: 0rem auto;
    margin-top: 5.5rem;

    padding: 0rem 1rem;

    color: var(--bgCol);
    /* background: var(--textCol); */
    opacity: 1;
  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    
    transition: max-height 600ms ease, padding 600ms ease, margin-top 0.5s ease;
}

.works-text{
    height: 0%;

    grid-column: 1/5;
    grid-row: 4/5;

    margin-bottom: 3rem;
    /* padding-bottom: 3rem; */
    margin-top: 1rem;

    overflow-y: scroll;

    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.8rem;

    color: var(--bgCol);
    opacity: 1;

    /* transition: max-height 600ms ease, opacity 600ms ease; */
}

.design-elements{
    /* height: inherit; */

    grid-column: 1/5;
    grid-row: 1/2;

    margin-top: 2rem;

    /* opacity: 0; */

    text-transform: uppercase;

    transition: opacity 0.5s ease;
}

.design-elements li{
    /* height: inherit; */
    z-index: -1;

    display: inline-block;
    padding: 1rem;

    border-radius: 10rem;
    box-shadow: inset 0px 0px 15px 5px rgb(218, 218, 218);

    transition: padding 0.5s ease;
}

.design-elements li:hover{
    /* box-shadow: 0px 0px 20px 10px rgb(218, 218, 218); */
    padding: 1.3rem;
}

.year{
    /* height: inherit; */

    height: 0%;

    margin-top: 1rem;
    margin-left: 1rem;

    grid-column: 1/3;
    grid-row: 2/3;

    color: var(--bgCol);
    opacity: 0;

    font-size: 1rem;

    transition: opacity 0.5s ease, filter 0.2s ease;
}

.collabs{
    /* height: inherit; */

    height: 0%;

    margin-left: 0rem;
    margin-top: 1rem;

    grid-column: 3/5;
    grid-row: 2/3;

    text-transform: uppercase;
    letter-spacing: 0.05rem;

    opacity: 0;
    transition: filter 0.2s ease;
}

.collabs li{
    display: inline-block;
    margin-top: 0rem;

    border-radius: 10rem;
    /* box-shadow:  0px 0px 20px 10px rgb(218, 218, 218); */

    transition: box-shadow 0.5s ease;

}

/* .collabs li:hover{
    box-shadow: inset 0px 0px 20px 10px rgb(218, 218, 218);
    padding: 1rem;
} */

footer{
    position: fixed;
    left: 40vw;

    width: 20vw;
    height: auto;
   
    margin: 0rem auto;

    z-index: 2;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    bottom: 0rem;
    background: transparent;
 }

.info{
    padding: 0.5rem 0.7rem;
    border-radius: 20px;

    margin-bottom: 3rem;

    color: var(--textCol);
    background: var(--bgCol);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);;

    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;

    transition: font-size 0.2s ease, color 0.3s ease, background 0.3s ease;
}

.info:hover{
    padding: 0.7rem 0.9rem;

    font-size: 1.3rem;

    background: var(--textCol);
    color: var(--bgCol);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);;

}

.foot{
    background-color: var(--textCol);
    /* box-shadow: 0px 0px 100px 1px rgb(0, 0, 0); */
    /* max-height: 90vh; */
    box-sizing: border-box;

    width: 100%;

    z-index: 2;
    margin-top: 10rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

}

.foot .foot-contact{
    max-height: 100%;
    grid-column: 1/2;
}

.foot .credits{
    max-height: 100%;
    grid-column: 1/2;
}

.foot p{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

.foot h1{
    font-weight: 400;
    font-variant: small-caps;

    color: var(--bgCol);
}

.foot ul{
    font-size: 1.5rem;
    font-weight: 100;

    font-family: Helvetica, sans-serif;

}

.foot li{
    margin: 0rem 0rem;
}
/* 
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
 }

 .clearfix {
    display: inline - block;
 }

html[xmlns].clearfix {
 display: block;
}

* html.clearfix {
 height: 1% ;
} */

/* small tablet styles */
@media screen and (min-width: 620px) {
  
.foot{
    grid-template-columns: repeat(2, 1fr);
}

.foot .foot-contact{
    grid-column: 1/2;
}

.foot .credits{
    grid-column: 2/3;
}

.letters{
    font-size: 3.2rem;
}

.chat-container{
    width: 60vw;
    left: 20vw;
}

}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
    
html{
     scroll-behavior: smooth;
}

body{
    font-size: 18px;
    overflow: overlay;
    scroll-behavior: smooth;

}

.grid{
    display: grid;
    grid-template-columns: 1fr;  
    justify-content: center;
    align-items: center;

    /* grid-template-rows: auto 1fr auto; */
}

/* width */
html::-webkit-scrollbar, .slide::-webkit-scrollbar, .dropdown-container::-webkit-scrollbar, .works-text::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.2);

}
  
  /* Track */
html::-webkit-scrollbar-track, .slide::-webkit-scrollbar-track, .dropdown-container::-webkit-scrollbar-track, .works-text::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10rem;
}

::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb, .slide::-webkit-scrollbar-thumb, .works-text::-webkit-scrollbar-thumb , .dropdown-container::-webkit-scrollbar-thumb {
    margin: 3rem;

    background:rgba(57, 57, 57, 0.7);
    border-radius: 20rem;
}

.dropdown-container::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.2);
    border-radius: 20rem;
}

#header{    
    width: 30vw;
    height: auto;

    left: 35vw;
    top: 0rem;
}

#i{
    right: 7vw;
    top: 0rem;

}

#list{
    left: 7vw;
    top: 0rem;

}
  
.chat-container{
    max-height: 75vh;
    width: 50vw;

    top: 15vh;
    left: 25vw;
    
    /* margin-top: rem; */
}

#output{
    max-width: 100vh;

    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
    /* margin-top: 20vh; */

    padding: 1rem;
    
    text-align: center;
    word-break: normal;

    transition: content 0.5s ease, max-width 0.5s ease, height 0.5s ease;
}

.close-container {
    margin: 0rem 1rem;
    padding: 1rem;

}

.close{
    width: 30px;
    height: 30px;
}

#dropdown-close{
    left: 23vw;
    top: -80vh;
}

#chat-close{
    position: fixed;
    left: 75vw;
    top: 14vh;
}

#chat-close:hover{
    box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.3);
}

.dropdown{
    width: 70vw;
    height: 70vh;

    top: -80rem;
    left: 15vw;

    padding: 2rem 2rem;

    overflow: none; 

    background: var(--bgCol);
    border-radius: 10rem;
    opacity: 1;

    font-family: Helvetica, sans-serif;
    font-weight: 100;

    transition: top 0.8s ease;
}

.dropdown-container{
    /* width: 77%; */
    height: 100%;

    margin: 0rem 7rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    
    overflow: scroll;
}

.dropdown p{
    font-size: 1.5rem;
} 

.dropdown ul{
    font-size: 1.5rem;
}

.dropdown li{
    margin-bottom: 1.3rem;
}

.contact {
    grid-column: 1/4;
}

.services{
    grid-column: 4/7;

}

.about {
    margin-top: 3rem;
    padding-right: 3rem;
    grid-column: 1/7;
    font-size: 3rem;
}

.clients{
    grid-column: 1/4;
}

.workshops{
    grid-column: 4/7;
    margin-right: 3rem;
}

.work{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#chat-close{
    margin: 0rem;
    left: 80vw;
    top: 14vh;
}

/* #output{
    width: 100%;

    margin-top: 0rem;
    color: var(--bgCol);

    opacity: 1;
} */

#user_input{
    position: fixed;
    /* left: 37.9vw;  */

    width: 20vw;
    /* top: 77.3vh; */
    bottom: 8vh;

 
}

.letters{
    margin: 0rem;
    padding: 1rem;
    font-size: 3rem;
    box-shadow: 0px 0px 50px 30px rgba(106, 106, 106, 0.7);

}

.slide{
    height: 100vh;
    overflow: overlay;
    overflow-y: hidden;
    grid-column: 1/7;

}

.slide img, .slide video{
    /* width: auto;
    height: 70vh;
    object-fit: none; */

    width: auto;
    height: 100%;
}

.card{
    width: 100%;
    height: 0rem;

    margin-top: -7rem;
    padding: 0rem 2rem;

    grid-column: 1/7;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
    gap: 0rem;

}

.works-title{   
    grid-column: 1/3;
    grid-row: 1;

    margin-top: 0rem;

}

.title{
    display: inline;
    align-self: flex-start;
    /* justify-content: center; */

}
/* 
.plus:hover {
    transform: 360deg;
    transition: transform 0.5s ease-in-out;
} */

.plus-container{
    grid-column: 12/13;

}

.plus{
    max-width: 100%;
    height: auto;

    /* margin-right: 1rem; */
    display: flex;
    align-self: center;

}

/* .year-container{
    grid-column: 3/6;
    grid-row: 1;
    opacity: 1;

    display: flex;
    justify-content: flex-start;
} */

.card-dropdown{
    box-sizing: border-box;
    width: 100%;     

    margin: 0rem 0rem;
    padding: 0rem 2rem;

    grid-column: 1/7;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30% 70%;
    gap: 2rem;

    /* background: var(--textCol); */

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .clearfix {
    overflow: auto;
  }

.works-text{
    width: 100%;
    height: 0%;

    margin-top: 3rem;
    margin-bottom: 15rem;
    padding-bottom: 0rem;

    grid-column: 6/12;
    grid-row: 1/3;

    font-family: Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0rem;
    line-height: 1.7rem;
    font-size: 1.5rem;
  
    color: var(--bgCol);
    opacity: 1;

    overflow-y: hidden;

    transition: height 0.5s ease;
}

.design-elements{
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: 3rem;

    text-transform: uppercase;
    opacity: 0;

}

.year{
    height: 0%;

    grid-column: 3/4;
    grid-row: 1/2;

    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: 0rem;

    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1rem;

    opacity: 0;

    display: flex;
    justify-content: flex-end;
}

.collabs{
    height: 0%;

    grid-column: 4/6;
    grid-row: 1/2;

    margin-top: 3.2rem;
    /* margin-left: -4rem; */

    opacity: 1;

    text-transform: uppercase;
}

.opa{
    opacity: 0;
    transition: opacity 600ms ease;
}

footer{
    width: 20vw;
    height: auto;
   
    position: fixed;
    justify-content: center;
    left: 40vw;

    bottom: 0rem;

}

.info{
    top: 0vh;
}

.foot{
    /* max-height: 90vh; */
    width: 100%;

    margin-top: 6rem;
    /* margin: 2rem; */
    padding: 2rem;

    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

}

.foot .foot-contact{
    max-height: 100%;
    grid-column: 1/4;
}

.foot .credits{
    max-height: 100%;
    grid-column: 4/7;
}

}

/* Desktop styles */
@media screen and (min-width: 2000px) {
    body{
        font-size: 24px;
    }

    
.letters{

    font-size: 4rem;
    
}

    .year{
        font-size: 1rem;
    }

    /* .dropdown-container{
        margin: 0rem 15rem;
    } */

    .contact {
        grid-column: 5/7;
        margin: 0rem;
        margin-top: 5rem;
    }
    
    .services{
        grid-column: 1/3;
        margin: 0rem;

    }
    
    .about {
        grid-column: 1/5;
        margin-top: 5rem;

    }
    
    .clients{
        grid-column: 3/5;
        margin: 0rem;

    }
    
    .workshops{
        grid-column: 5/7;  
        margin: 0rem;

     }

     .works-text{
        font-size: 1.8rem;
        line-height: 2rem;
     }

}

