   #menuButton {
    position: absolute;
    margin: 1%;   

    font-size:30px;
    cursor:pointer;
    color: rgb(255, 255, 255);
    opacity: 0.5;
   }

   #menuButton:hover {
    opacity: 1;
   }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* right: 0; */
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav input{
    margin: 10%;
  }

  .sidenav button{
      margin: 10%;
  }

  form{
    margin: 10%;
  }

  .slidecontainer{
    margin: 10%;
    margin-top: -10%;
    font-size:15px;
  }

  label {
    margin-top: -30%;
  }
  
  .brush_input{
    margin: 10%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }