@font-face {
    font-family: Signifier;
    src: url(assets/test-signifier-thin.woff);
  }

body {
    margin:0;
    padding:0;
    overflow: hidden;
    /* font-size: 1em; */

    background-color: transparent;
}

canvas {
    margin:auto;
}

p#menuButton{
    position: absolute;
    left: 90%;
    margin: 2%;
}

button#talk {
    position: absolute; 
    border: none;
    top: -1%; 
    right: 3%;

    background-color: aliceblue;
    background-size: cover;
    background-image: url(assets/mic.png);
    background-blend-mode: difference;
    opacity: 0.5;
    
    width: 30px;
    height: 30px;
}

button#talk:hover {
    opacity: 1;
}

button#fullScreen {
    position: absolute; 
    border: none;
    bottom: 5%; 
    right: 3%;

    background-color: transparent;
    background-size: contain;
    background-image: url(assets/fullScreen.svg.png);
    /* background-blend-mode: multiply; */

    opacity: 0.5;
    
    width: 30px;
    height: 30px;
}

button#fullScreen:hover {
    opacity: 1;
}

div#bot {
    mix-blend-mode: difference;
    position: fixed; 
    width: 100vw;
    height: 100vh;
    
    top: 0%;
    margin: 2%;
    text-align: center;
}

#user_input{
    position: relative; 
    border: none;
    top: 4%; 
    /* width: 98%; */

    background-color: transparent;
    color: white;
    opacity: 0.9;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.6em;

    word-break: keep-all;
}

#user_input:focus{
    border: none;
    outline: none;
}

p#output {
    position: relative; 
    width: 100%;
    margin-right: 5%;

    font-family: Signifier;
    font-size: 3.3em;
    color: white;
    opacity: 0.9;

    /* text-shadow: 0px 0px 15px white; */

    word-break: keep-all;
    bottom: -75%; 
}

.centerText #centerText{
    position: absolute; 
    display: grid;
    place-items: center;
    margin: 35vh 0vw;
    width: 100%;
}

#centerText {
    font-family: Signifier;
    font-size: 4.5em;
    line-height: 90%;
    text-align: center;

    color: white;
    opacity: 0.8;
    mix-blend-mode: difference;
    text-shadow: 0px 0px 15px white;
    word-break: keep-all;

    animation-name: fade;
    animation-duration: 3s;
}

::selection {
    background: transparent;
}

@keyframes fade{
    from{
        opacity: 0;
    } to {
        opacity: 0.8;
    }
}