<style>
/*Style*/ 



html, body{ /*background-color:white;*/ }	

body
{ 
	touch-action: none; 
	background-image:;
	background-repeat: no-repeat;
	background-position: top center;
	width:100vw;
	background-size:cover;
	height:100vh;
	min-height:100vh;
	overflow:hidden;
	color: black;
	background-color: #dee1e5;
	margin: 0px;
}

body.landing
{ 
	background-image:radial-gradient(60vw 50vh,#86b817,rgba(0,0,0,0));;
}

.preisbox_gross {
	position: relative; 	
	margin-left: 80%;
	top: 2%;
	width: 18%;
	height: auto;	
	padding-left: 1%;
   background-color: #86b817;
   color: #FFFFFF;
   font-size: 2vw;
   font-family: “Arial Bold”, sans-serif; 
  transform: rotate(10deg);
    z-index: 10;
 
}

/*
.triangle-up-left {
  width: 2vw;
  height: 2vw;
  border-top: 20px solid rgb(111, 138, 52);
  border-right: 20px solid transparent;
	margin-left: 93.5%;
	z-index: 10
}*/

@font-face {
   font-family: Univers;
   src: url(UNIVERS-EXTENDED.woff);
}

* {
   font-family: Univers;
}

.links::-webkit-scrollbar, .rechts::-webkit-scrollbar, .content::-webkit-scrollbar, ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.links, .rechts, .content, ul {
  -ms-overflow-style: none;
   scrollbar-width: none;
}

h1.titel{
 	width: 40%;
  	text-align:center;
  	font-size:10vw;
  	letter-spacing:-2px;
  	line-height: 0.8;
  	display: block;
  	margin: auto;
  	margin-top: 5%;
   	z-index: -1; 

}

div.head{
	width: 100vw;
	height: 4vh;
}

.distance{
	width: 100%;
	height: 20vh;
	display: block;
}

h1{
	font-size:5vw;
	width: 100%;
  	line-height: 0.8;		
    letter-spacing:-3px;
	text-align:left;
	margin-left: 25px; 
	margin-top: 20px; 
	color: blue;
}

h2{
	text-align:center;
	font-size: 2vw;
	margin-top: 5%;
}

h2#about{
	text-align:left;
	width: 100%;
	height: auto;
	font-size: 5vw;
	letter-spacing:-2px;
  	line-height: 0.8;
	margin-top: 20vh;
}

h2#group{
	font-size: 1.3vw;
 	line-height: 1.2;
 	text-align: left;
 	width: 100%;
 	margin-top: 2vh;
 	margin-bottom: 20vh;	
}

h2.Untertitel{
	position: fixed;
	text-align: center;	
	font-size: 1.6vw;
	font-family: Univers;
	z-index: -10;
}

h2#a{
	margin: 10% 0% 0px 0px; 
	padding-left: 5%; 
	width: 25%
}

h2#b{
	margin-left: 75%; 
	margin-top: 10%; 
	width: 17%; 
	letter-spacing:-2px;
}

h2#c{
	margin-top: 33%; 
	margin-left: 5%; 
	width: 20%;
}

h2#d{
	margin-top: 33%; 
	margin-left: 68%; 
	width: 30%;
}

h3{
	font-size: 1.3vw;
	text-align: left;
	font-family: Univers;
	margin-left: 50px; 
}

.smalltitel, .smalltitel a{
	width: 20vw;
	height: auto;
	margin: auto;
	margin-top: 0.5vh;
	margin-left: 15vw;
	display: inline-block;
	position: fixed;

	font-size: 1.3vw;
	letter-spacing:-2px;
  	line-height: 0.9;
	text-align: center;
	color: black;
}

a{
	color: blue;
}

h2.link {
	color: blue;
	width: 100%;
	height: auto;
	margin-top: -1vh;

	font-size: 3vw;
	line-height: 1;
    letter-spacing:-3px;
	text-align: left;
	padding: 0px 25px;
	word-break: break-all;
}

h2.link:hover h2.link{
	color: green;
}

p.groß{
	color: black;
    font-size: 2vw;
    line-height: 1.2;
	padding: 50px 25px;
    text-align: left;
}

p.klein{
	text-align: left;
    font-size: 1.3vw;
    line-height: 1.2;
	padding: 0px 25px;
    text-align: left;
}

.tags{
	padding: 25px;
	color: blue;
    font-size: 2vw;
    line-height: 1.2;
} 

.tags p{
	color: blue;
	display: inline;
    font-size: 2vw;
    line-height: 1.2;
    text-align: left;
}

.Sprache{
	color:blue;
}

/* Caption text */
.text {
  color: black;
  font-size: 1.3vw;
  line-height: 1.2;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  text-align: left;
}

.links, .rechts{
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scrollbar-color: white white;
}

img, video, .mySlides{
  	padding: 25px;
  	width: 100%;
	height: auto;
	display: block;
  margin: auto;
}

.extVid{
  	width: 100%;
	height: 66%;
}

.extVid iframe, .extVid object, .extVid embed{
  	padding: 25px;
  	width: 100%;
	height: 100%;
	display: block;
 	margin: auto;
}

.clearfix {
  overflow: auto;
}

* {box-sizing: border-box}

button{
	text-decoration: none;
	border: none;
  	outline: none;
  	display: inline;
  	background-color: #dee1e5;
 	color: blue ; 
 	font-size: 1.3vw;
 	padding: 0px 10px;
}

button#about{
	text-align: left;
	font-size: 1.3vw;
 	display: inline; 	
 	margin-left: 94vw;
 	margin-top: -4vh;
 	position: fixed;
}

button#artists{
	text-align: left;
 	display: inline; 
 	margin-left: 0vw;
 	position: fixed;
}

ul{
  	width:50vw;
 	height:100vh;
   	display: none;	
	background-color: blue;
 	padding-top: 7vh;
 	padding-left: 25px;
 	overflow: scroll;
}

ul li{
 	width:49%;
 	height:auto;
 	display: inline-block;
 	list-style: none;
	font-family: univers;
 	color:  #dee1e5; 
 	text-align: left;
  	line-height: 1.2;
  	margin-bottom: 1vw;
  	font-size: 1.3vw;
  	padding: 0px 25px 25px 0px;
}

.work{
	padding-left: 25px;
}

ul li a, ul li a:hover{
	color: #dee1e5;
}

.artists{
	width: 50vw;
	z-index: 10;
}

.about{
	width: 50vw;
	z-index: 10;	
}

.artists:hover ul {
	display: inline-block;
}

.artists:hover button#artists, .about:hover button#about{
	background-color: blue;
 	color:  #dee1e5; 
}

.abouttext{
	width: 97%;
	height:auto;
  	text-align: left;
  	margin-bottom: 5vh;

}

.content {
 	margin-left: 50vw;
 	margin-top: -4vh;
 	width: 102%;
	height: 100vh;
 	display: none;
 	font-size: 1.3vw;
 	line-height: 1.2;
 	background-color: blue;
 	color:  #dee1e5;
 	padding: 35px;
 	overflow: scroll;
  	scrollbar-color: blue blue; 	
}

.about:hover .content{
	display: inline-block;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: blue;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	color: blue;
}


.active, .dot:hover {
  background-color: #717171;
}


div.oddswithoutends {
  width: 500%;
  height: 100%;
  position: relative;	
}

div.oddswithoutends p {
  font-size: 8rem;
  text-align: center;
}

#carousel_body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#carousel_title {
  font-size: 27rem;
  color: blue;
  display: block;
  margin: auto;
  text-align: center;
  position: absolute;
  margin-top: -190%;
  margin-left: -310%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
	font-family: 'quicksandlight', Univers, Univers;
	letter-spacing: -1.2vw;
		line-height:210px;
}

#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(-0deg);
}

#drag-container .item {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.preisbox {
	width: 30%;
	height: 30;
	position: fixed;
	bottom: 32%;
	right: 11%; 
    padding: 2%;
	padding-right: 4%;

    background: #86b817;
    color: #FFFFFF;
    font-size: 70%;
    font-family: Arial, "bold";

}

#drag-container .item{
	width: 110%;
	height: auto;
}

div.kachel_schrift {
	width: 70%;
	height: 100%;
	padding-top: 60%;
	padding-left: 4%;
    padding-bottom: 2%;
	margin-top: -70%;
	margin-left: 15%;
    background: #FFFFFF;
 	box-shadow: 0px 0px 60px #86b817;

}

div.kachel_schrift p{
	font-family: Arial;	
  	text-align: left;
   	line-height: 0.3;
   	color: #000000;
   	font-size: 62%;
}

p.titel{
  font-weight: bold;
  margin-bottom: 9%;
}

#drag-container img,
#drag-container video {

}

#drag-container .item p {
	color: black;
  	text-decoration-line: none;
}

#drag-container .item a{

}

#drag-container .item:hover {
    width: 140%;
  	margin-left: -2vw;
  	margin-top: -1vh;     
}

#drag-container .item:hover .kachel_schrift {
    width: 76%;
    height: 110%;
	padding-top: 65%;    
  	margin-left: 12%;
  	margin-top: -72%;     
  	text-decoration-line: none;  
}

#drag-container .item:hover p{
	font-size: 80%;
	text-decoration-line: none;
}

#drag-container .item:hover .preisbox{
	right: 7%; 
    font-size: 80%;

}

#ground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(
    center center,
    farthest-side,
    #9993,
    transparent
  );
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}


@media only screen and (max-width: 600px) {

html, body{ 
	background-color:#dee1e5; 
}	

body
{ 
	touch-action: none; 
	background-image:;
	background-repeat: no-repeat;
	background-position: top center;
	width:100vw;
	background-size:cover;
	height:100vh;
	min-height:100vh;
	overflow:scroll;
	color: black;
	margin: 0px;
}

body.landing{ 
	background-image:radial-gradient(50vw 35vh,#86b817,rgba(0,0,0,0));
}

#carousel_title {
	letter-spacing: 1.2vw;
}

div.head1{
	height: 11vh;
	width: 100vw;
	z-index: 0;
	position: fixed;
}

div.head{
	height: 11vh;
	width: 100vw;
	z-index: 10;
	position: fixed;
	background-color:#dee1e5; 
}


.smalltitel, .smalltitel a{
	width: 30vw;
	margin-top: 0.5vh;
	margin-left: 10vw;	
	display: inline-block;
	background-color: #dee1e5; 
	font-size: 6vw;
	letter-spacing:-2px;
  	line-height: 0.9;
	text-align: center;
	color: black;
	z-index: 1;
	top: 0;
}
	
.preisbox_gross {
	margin-left: 77.5%;
	width: 90px;
	height: auto;
	font-size: 150%;
}


.triangle-up-left {
  margin-left: 86%;
	width: 4%;
	position:absolute;
	
}	

h1{
	font-size:12vw;
}

h2{
	font-size:12vw;
}

h2.Untertitel{
	font-size:4vw;
	position: relative;
	font-family: Univers;
}

h2#a{
	width: 50vw;
	text-align: center;
	display: block;
	margin: auto; 
	margin-top: 10vh; 
	margin-bottom: -13vh;
	font-family: Univers;
	z-index: 10;	
}

h2#b{
	width: 70vw;
	display: block;
	margin: auto; 
	position: absolute;
	margin-top: 75vh;
	margin-bottom: 5vh;
	margin-left: 15vw;
	letter-spacing:0px;
	font-family: Univers;
	z-index: -10;
}

h2#c{
	width: 100vw;
	display: block;
	margin: auto; 
	position: absolute;
	margin-top: 93vh;
	font-family: Univers;
	text-align: left;
	margin-left: 5vw;
}

h2#d{
	width: 100vw;	
	display: block;
	margin: auto; 
	position: absolute;
	margin-top: 93vh;
	font-family: Univers;
	text-align: left;
	margin-left: 63vw;

}

h3{
	font-size:6vw;
	margin-left: 25px; 
}

h2.link {
	width: 100%;
	height: auto;
	font-size: 9vw;
	line-height: 1;
    letter-spacing:-3px;
	padding: 0px 25px;
}

h2#group{
	font-size: 6vw;
}

p.groß{
    font-size: 6vw;
    padding: 25px 25px;
}

p.klein {
    font-size: 4vw;
}

.text {
    font-size: 4vw;
	padding: 0px 25px ;
}

.prev, .next {
    font-size: 6vw;
    padding: 6px;
}

.mySlides{
	padding: 0px;
}

#carousel_title {
	font-size: 9rem;
  	top: -20%;
  	left:  -60%;
  	letter-spacing: -12px;
	line-height: 0.8;
}

button#artists{
	font-size: 6vw;
	z-index: 20;
	display: inline-block;
	position: fixed;
	top: 0;
}

.artists:hover button#artists, .about:hover button#about{
	background-color:#dee1e5; 
	color: blue;
}

.artists:hover{
	display: block;
}

button#about{
	font-size: 6vw;
	margin-top: 0vh;
	margin-left: 73vw;
	z-index: 10;	
	display: inline-block;
	position: fixed;
	top: 0;

}

ul{
	width: 100vw;
	height: auto;
	display: none;
	position: relative;
	margin-top: 10vh;
	z-index: 10;	
	overflow: scroll;
}

ul li{
	width: 100vw;
	height: auto;
  	margin: auto;
  	line-height: 6vw;
  	font-size: 4.5vw;
  	margin-left: -6vw;
  	padding: 0px 0px 15px 25px;
}

h2#about{
	display: none;
}

.content {
	margin-left: 0vw;
	margin-top: 10vh;
	width: 100vw;
	padding-bottom: 10vh;
}

.abouttext{
	width: 100%;
	height: auto;
	font-size: 4vw;
}	

div.kachel_schrift {
 	box-shadow: 0px 0px 40px #86b817;
}
</style>
